In [58]:
import pandas as pd

In [67]:
state_df=pd.read_csv('/Users/bmusham/Documents/CIS Technologies/usa_zipcode_of_ny-1551j.csv')

In [68]:
state_df.describe()

       Unnamed: 5  Unnamed: 7
count         0.0         0.0
mean          NaN         NaN
std           NaN         NaN
min           NaN         NaN
25%           NaN         NaN
50%           NaN         NaN
75%           NaN         NaN
max           NaN         NaN

In [69]:
print(state_df.columns)

Index(['zip', 'Zipcode name', 'City', 'State', 'County Name', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [70]:
column_names=state_df.columns.values.tolist()
column_names

['zip',
 'Zipcode name',
 'City',
 'State',
 'County Name',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7']

In [71]:
state_df['Zipcode name'].str.split(",").str[1]

0        NY
1        NY
2        NY
3        NY
4        NY
       ...
2070     NY
2071     NY
2072    NaN
2073    NaN
2074    NaN
Name: Zipcode name, Length: 2075, dtype: object

In [72]:
#state_df[['city_new','state_new']] = state_df['Zipcode name'].str.split(",",expand=True)

In [73]:
state_df['state_new']=state_df['Zipcode name'].str.split(",").str[1]

In [74]:
state_df

,zip,Zipcode name,City,State,County Name,Unnamed: 5,Unnamed: 6,Unnamed: 7,state_new
0,12404,"ACCORD, NY",ACCORD,NY,ULSTER,NaN,NaN,NaN,NY
1,12405,"ACRA, NY",ACRA,NY,GREENE,NaN,NaN,NaN,NY
2,13605,"ADAMS, NY",ADAMS,NY,JEFFERSON,NaN,NaN,NaN,NY
3,14410,"ADAMS BASIN, NY",ADAMS BASIN,NY,MONROE,NaN,table foodmart.kumar_bucketed partition (state...,NaN,NY
4,13606,"ADAMS CENTER, NY",ADAMS CENTER,NY,JEFFERSON,NaN,NaN,NaN,NY
...,...,...,...,...,...,...,...,...,...
2070,12791,"YOUNGSVILLE, NY",YOUNGSVILLE,NY,SULLIVAN,NaN,NaN,NaN,NY
2071,12792,"YULAN, NY",YULAN,NY,SULLIVAN,NaN,NaN,NaN,NY
2072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2074,"For more information, kindly visit : www.downl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
str1='aabbcccdddeee'

In [82]:
str1_lst=[]
for i in str1:

    str1_lst.append(i)
str1_lst

['a', 'a', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd', 'e', 'e', 'e']

In [85]:
new_city=[]

In [86]:

for i in list(state_df['Zipcode name']):
    new_city.append(i.split(',')[0])

AttributeError: 'float' object has no attribute 'split'